
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.MainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parallax {
    position: relative;
    height: 100%;
}
.parallax__mountain {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.parallax__mountain--1 {
    background: url(../../assets/images/main_mountain.jpg) center/cover no-repeat;
}
.parallax__mountain--3 {
    z-index: 0;
    background: url(../../assets/images/right_mountain_dark_crop.png) no-repeat right bottom;
    background-size: 70%;
}
.parallax__mountain--2 {
    z-index: 1;
    background: url(../../assets/images/left_mountain_crop.png)left bottom  no-repeat ;
    background-size: 60%;
}
.parallax__fog {
    background: url(../../assets/images/fog_1.png) bottom/100% no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.blankArea {
    height: 1500px;
}
.blankArea--afterName {
    height: 1000px;
}
.MainPage__title {
    font-weight: 900;
    font-size: 96px;
    text-align: center;
}
.MainPage__subTitle {
    font-size: 56px;
    text-align: center;
}
.MainPage__contactsBlock {
    z-index: 10;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin: 20px auto 50px auto;
}
.MainPage__contactsBlock > a {
    text-decoration: none;
    color: #ff6700;
}

.MainPage__scrollSign {
    width: 50px;
    height: 90px;
    border: 3px solid #e7e7e7;
    border-radius: 60px;
    position: relative;
    z-index: 15;
    top: 50px;
    animation: sign 2s infinite alternate-reverse;
    -webkit-animation: sign 2s infinite alternate-reverse;
    transition: all 0.5s;
}
.MainPage__scrollSign::before {
     content: '';
     width: 12px;
     height: 12px;
     position: absolute;
     top: 10px;
     left: 50%;
     transform: translateX(-50%);
     background-color: #e7e7e7;
     border-radius: 50%;
     opacity: 1;
     animation: wheel 2s infinite;
     -webkit-animation: wheel 2s infinite;
}
.MainPage__darkBg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(50,50,50, 0.5);
    z-index: 14;
    transition: all 0.5s;
}
.hidden {
    opacity: 0;
    z-index: 8;
}


@keyframes sign {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
    }
}
@-webkit-keyframes sign {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
    }
}
@keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}