.PortfolioItem {
    position: relative;
    z-index: 10;
    background: rgba(213, 0, 0, 0.4);
    cursor: pointer;
    width: 80vw;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 20px;
    text-align: center;
    transition: all 0.5s;
}
.PortfolioItem:hover {
    background: rgba(213, 0, 0, 0.6);
}
.PortfolioItem__text {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}
.PortfolioItem__link {
    text-decoration: none;
    color: #00fdd5;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    z-index: 10;
    margin-bottom: 30px;
}
